{{#get "tags" filter="visibility:public" limit="50" order="count.posts desc" include="count.posts"}}
    {{#if tags}}
        <section class="gh-container gh-tags gh-outer">
            <div class="gh-container-inner gh-inner">
                <h2 class="gh-container-title">Tags</h2>
                <div class="gh-tags-feed">
                    {{#foreach tags}}
                        <a class="gh-tags-item" href="{{url}}">
                            <span class="gh-tags-item-icon">{{> "icons/tag"}}</span>
                            <span class="gh-tags-item-name">{{name}}</span>
                            <span class="gh-tags-item-count">{{count.posts}}</span>
                        </a>
                    {{/foreach}}
                </div>
            </div>
        </section>
    {{/if}}
{{/get}}
